/* Aqui estan todos los estilos que se usan en el diseño de la pagina */
body{
    font-family:"Verdana",sans-serif;
    background-color: rgb(250, 240, 230);
    color:rgb(53, 47, 68);
}

/* Estilos de los titulos */
h1,h2,h3,h4,h5,h6{
    font-family:"Times New Roman",sans-serif;
    color:rgb(92, 84, 112);
}

/* Contenedor Principal */
.container{
    display: grid;
    grid-template-columns: auto 1fr;
    width: auto;
    height: 100vh;
}

/* Contenedor del sidebar */
.sidebar{
    grid-column: 1;
    background-color: rgba(53, 47, 68, 0.89);
    width: 220px; /* Aqui se cambia el ancho del sidebar*/
    height: 100%;
    padding: 20px;
    padding-top: 100px;
    color: #faf0e6;
    font-family:"Times New Roman",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos de titulos dentro del SideBar */
.sidebar h1,h2,h3,h4,h5,h6{
    color: white;
    font-size: 50px;
}

/* Estilos de los links dentro del SideBar */
.sidebar a{
    color: white;
    font-size: 30px;
}

/* LOGO dentro del SideBar */
.sidebar img{
    max-width: 100%;
    height: auto;
}

/* Contenedor del footer del SideBar */
.sidebarFooter{
    width: 100%;
    height: 35px;
}

/* En este contenedor se encuentra el banner, el main y la informacion extra */
.bigContainer{
    grid-column: 2;
    display: grid;
    grid-template-rows: 75px 1fr; /* Aqui se cambia el tamaño del banner con respecto al main*/
}

/* Contenedor del Banner */
.banner{
    grid-row: 1;
    background-color: rgb(92, 84, 112);
    display: flex;
    justify-content: flex-end;
    padding: 10px;


}

/*Distancia entre botones dentro del banner*/
.banner button{
    margin-left: 5px;
    margin-right: 5px;
}

/* Contenedor del Main y la informacion extra */
.mediumContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Contenedor del Main */
.main {
    flex: 4; /* Aqui se cambia el tamaño del main con respecto a la informacion extra*/
    margin: 20px;
    height: 100%;


}

.main h2, h3{
    font-family:"Times New Roman",sans-serif;
    color:rgb(92, 84, 112);
    font-size: 30px;
}

.main img{
    max-width: 700px;
    height: auto;
}

/* Contenedor de la informacion extra */
.extraInfo {
    flex: 1;
    margin-top: 20px;
    height: 900px;
    max-height: 100%;

    border: 1px solid black;
    border-radius: 5px;
    overflow-y: scroll;
}

.extraInfo img{
    width: 100%;
    height: auto;
}


/* Estilo y animacion de Botones: Author Temani Afif */
button{
    font-size: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    border-radius: 5px;

}


button {
    --c: #5b536f; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
button:active {
    background-color: var(--c);
    color: #00ff95;
}

/*Estilo y animacion de Links: Author CSS-Tricks*/
a{
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
}

a::before {
    content: '';
    background-color: hsla(258, 14%, 38%, 0.5);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

a:hover::before {
    bottom: 0;
    height: 100%;
}


/*Estilos para FORMS*/
form{
    display:flex;
    justify-content: center;
}

legend {
    border: 1px solid black;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 450px;
    padding: 50px;
}

.insideFieldset{
    height: 100%;
    width: 225px;
}

form div{
    margin-bottom: 10px;
}

textarea{
    resize: none;
    width: 300px;
    height: 100px;
}

form button{
    color: black;
}

.form-group {
    text-align: center;
}

label{
    display: block;
}

input {
    margin: 2px 0 ;
}

.m-option{
    display: inline-block ;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre cada div */
    margin-left: 10px;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}


/*Estilos para El Banco de Imagenes*/

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-box {
    margin: 10px;
    text-align: center;
}


/* Estilo para Juego */

.encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 10px;
}

.imagen {
    object-fit: cover;
    height: 0;
    width: 0;
}

.btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
}

.puntaje{
    padding:10px;
    color:white;
}
